<launch>

    <arg name="topic" default="/camera/image_raw"/>
    <arg name="calibration" default="$(find svo_ros)/param/camera_atan.yaml"/>
    <arg name="settings" default="$(find svo_ros)/param/vo_fast.yaml"/>

    <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen">

        <!-- Camera topic to subscribe to -->
        <param name="cam_topic" value="$(arg image)" type="str"/>

        <!-- Camera calibration file -->
        <rosparam file="$(arg calibration)"/>

        <!-- Default parameter settings: choose between vo_fast and vo_accurate -->
        <rosparam file="$(arg settings)"/>

    </node>

</launch>
